*{padding: 0px;margin: 0px;}


html{
	height: 100%;
}

body{
	height: 100%;
	
	background-image: url(../how-is-the-pokemon/586843.jpg);
}



.ShowElements{
	display: none;

}



.container{
	
	border: 3px solid black;
	position: absolute;
	border-radius: 1rem;
	height: 500px;
	width: 400px;
	text-align: center;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: white;



	
	
}

.Tittle{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.Image{
	height: 200px;
	width: 200px;
	border: 2px solid lightskyblue;
	border-radius: 2rem;
	padding-left: 10px;
	display: flex;	
	background-color: beige;
	margin-left: 100px;
	
	margin-top: 20px;
	


}

.NumberPoke{
	
	display: flex;
	border: 0.8px solid black;
	border-radius: 1rem;
	width: 60px;
	height: 20px;
	text-align: center;
	margin-left: 172px;
	margin-top: 10px;
	margin-bottom: 25px;
	padding-left: 10px;


	
	
	
}


.WowIsThePoke{
	border: 2px solid lightskyblue;
	border-radius: 1rem;
	height: 30px;
	width: 200px;
	background-color: aliceblue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center;



	

	



	
}
.ThePokeName{
	
	border-radius: 1rem;
	height: 30px;
	width: 200px;
	
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	




}

.botao1{
	position: relative;
	height: 50px;
	width: 150px;
	border-radius: 2rem;
	margin-top: 30px;
	background-color: rgb(150, 241, 13);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 22px;
}


#IdDivAdivinha{
	display: none;
}

.validationClass{
	height: 35px;
	width: 70px;
	border-radius: 1rem;
	background-color: rgb(153, 255, 1);
	
}

.botao1:hover{
	background-color: rgb(151, 398, 90);
	cursor: pointer;
}




.validationClass:hover{
	background-color: rgb(151, 398, 90);
	cursor: pointer;

}


.SkipQuestion{

	height: 35px;
	width: 70px;
	border-radius: 1rem;
	background-color: rgb(153, 255, 1);

}

.testeeee{
	text-align: center;
	align-items: center;
}

.geracaopoke{

	border: 2px solid blue;
	border-radius: 1rem;
	background-color: lightskyblue;
	position: absolute;
	
	display: inline-table;
	margin: 50px;
	padding: 10px;

	left: 100%;
	top: -7%;



	
	
}


.gen{
	position: relative;
	border: 3px solid white;
	background-color: greenyellow;
	width: 90px;
	height: 40px;
	border-radius: 1rem;


	margin-top: 5px;
	margin-bottom: 5px;
	
}
	


.NameOfPokemon{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Correct{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.skipped{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;


}

.error{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;





}

.CountError{
	border: 1px solid red;
	position: relative;
	font-size: 20px;

	
}




